.SearchResults {
    display: flex;
    flex-direction: column;
    background-color: #f6f6ef;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 90vh;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: black;
}

.SearchResults > * {
    margin: 15px;
}