.SearchResults {
    display: flex;
    background-color: #f6f6ef;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.SearchResults > * {
    margin-left: 15px;
    margin-right: 15px;
}